* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-negro: #000000;
  --color-azul: #092579;
  --color-turquesa: #00aead;
  --color-naranja: #eb6209;
  --color-beige: #f8f0e2;

  --font-main: "Andika", sans-serif;
}

.logo {
  width: 12.3125rem;
  height: auto;
  margin-left: 5rem;
}

.menu-container {
  background: var(--Beige, #f8f0e2);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.menu {
  font-family: var(--font-main);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 11rem;
}

.boton-menu {
  list-style: none;
}

<<<<<<< HEAD
.botones-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-decoration: none;
  background: var(--color-azul, #092579);
  align-content: start;
  margin-top: 30px;
  font-family: var(--font-main);
  padding-bottom: 5rem;
}

.footer_icons {
  margin-top: 1.81rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.06rem;
}

.footer_nav {
  list-style: none;
  display: flex;
  gap: 1.31rem;
  margin-left: 5rem;
}

.button_footer {
  color: var(--Beige, #f8f0e2);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_nav li {
  color: var(--Beige, #f8f0e2);
}

.footer_data {
  display: flex;
  justify-content: space-between;
}

.footer_ubication {
  display: flex;
  margin-right: 5rem;
  align-items: center;
}

.ubication {
  color: var(--Beige, #f8f0e2);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ubication_icon {
  width: 2.1275rem;
  height: 2.1275rem;
  aspect-ratio: 1/1;
}

.button_reservar {
  margin-left: 1.25rem;
  border-radius: 2.1875rem;
  border: none;
  background: var(--color-naranja, #eb6209);
  display: flex;
  width: 12.3125rem;
  padding: 0.5rem 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--color-azul, #092579);
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button_reservar:hover {
  border-radius: 2.1875rem;
  border: 2px solid var(--Naranja, #eb6209);
  color: var(--color-naranja, #eb6209);
  background: var(--Beige, #f8f0e2);
}

.button_menu:hover {
  color: var(--Naranja, #eb6209);
  text-align: center;
  font-family: var(--font-main);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.active {
  color: var(--Naranja, #eb6209);
  text-align: center;
  font-family: var(--font-main);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
=======
.botones-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

a{
    text-decoration: none;
}


.footer {
  display: flex;
  text-decoration: none;
  align-content:start;
  margin-top: 30px;
  background-color: var(--color-azul, #092579);

>>>>>>> dd4dd0e (cambios footer css)
}
