* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-negro: #000000;
  --color-azul: #092579;
  --color-turquesa: #00aead;
  --color-naranja: #eb6209;
  --color-beige: #f8f0e2;

  --font-main: "Andika", sans-serif;
}

.logo {
  width: 12.3125rem;
  height: auto;
}

.menu-container{
    background: var(--Beige, #F8F0E2);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

